### LSE Data Analytics Online Career Accelerator

# DA201: Data Analytics using Python

## Week 2: Getting started with Pandas demonstrations

The focus this week is on introducing, setting up, and exploring Pandas. You will use this Notebook to follow along with the demonstrations throughout the week.

Learn about using your Jupyter Notebook here: https://jupyter-notebook.readthedocs.io/en/latest/ui_components.html

This is your Notebook. Use it to follow along with the demonstrations, test ideas and explore what is possible. The hands-on experience of writing your own code will accelerate your learning!

### 2.1 Data ingestion with Pandas

#

### 2.2 Pandas built-in functions

#

### 2.3 Analysing data in Pandas

#